body {
    background-color: #f5f5f5; /* Fundo global */
    margin: 0; /* Remove margens padrão do navegador */
    font-family: "Roboto", sans-serif; /* Garante a fonte consistente com o MUI */
    min-height: 100vh; /* Garante que o fundo cubra a tela inteira */
    display: flex;
    flex-direction: column;
  }
  
  .container {
      flex: 1; /* Expande para ocupar o espaço entre o header e o footer */
      display: flex;
      flex-direction: column;
    }
    